@page "/freezer"
@using System.Collections.ObjectModel
@inject FreezerService.FreezerServiceClient FreezerClient

<h1>Vriezers</h1>

@if (_freezerItems == null || !_freezerItems.Any())
{
    <p>Geen data beschikbaar.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <td>Naam</td>
            <td>Schuiven</td>
            <td>Items</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _freezerItems)
        {
            <tr @onclick=@(e => item.IsVisible = !item.IsVisible)>
                <td>@item.Item.Name</td>
                <td>@item.Item.DrawerCount</td>
                <td>@item.Item.ItemCount</td>
            </tr>
            @if (item.IsVisible)
            {
                <FreezerContentsOverview FreezerId=@item.Item.Id />
            }
        }
        </tbody>
    </table>
}

@code {

    private class FreezerOverviewItemDto
    {
        public FreezerOverviewItemDto(FreezerOverviewItem item, bool isVisible)
        {
            Item = item;
            IsVisible = isVisible;
        }

        public bool IsVisible { get; set; }

        public FreezerOverviewItem Item { get; set; }
    }
    
    private ObservableCollection<FreezerOverviewItemDto> _freezerItems;

    protected override async Task OnInitializedAsync()
    {
        _freezerItems = new ObservableCollection<FreezerOverviewItemDto>((
            await FreezerClient.GetFreezerOverviewAsync(new FreezerOverviewRequest())).Items
            .Select(x => new FreezerOverviewItemDto(x, false)));
    }
}