@page "/freezer"
@inject FreezerService.FreezerServiceClient FreezerClient

<h1>Vriezers</h1>

@if (FreezerItems == null || !FreezerItems.Any())
{
    <p>Geen data beschikbaar.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <td>Naam</td>
            <td>Schuiven</td>
            <td>Items</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in FreezerItems)
        {
            <tr @onclick=@(e => RowClick(item.Id))>
                <td>@item.Name</td>
                <td>@item.DrawerCount</td>
                <td>@item.ItemCount</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<FreezerOverviewItem> FreezerItems;

    protected override async Task OnInitializedAsync()
    {
        FreezerItems = (await FreezerClient.GetFreezerOverviewAsync(new FreezerOverviewRequest())).Items;
    }

    private async Task RowClick(string freezerId)
    {
        var data = await FreezerClient.GetFreezerDetailsAsync(new FreezerDetailsRequest()
        {
            FreezerId = freezerId
        });
        Console.WriteLine(data.Items.Count);
    }

}